.container {
    padding-top: 100px;
    border: 3px solid purple;
    text-align: center;
    border-style: dotted;
    font-size: small;
}

.aryan {
    text-align: center;
    font-size: smaller;
    color: green;
}

.sumukh {
    color: orange;
    font-size: large;
}

.bhumika { 
    color: red;
    vertical-align: super;

}

.daksh { 
    color: purple;
    font-size: 5px;
    text-align: right;
}

.harsh { 
    color: yellow;
}