body {
    background-color: green;
}

.container {
    border: 2px solid black;
    border-style: dotted;
    padding-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.first-text {
    color: red;
    margin-top: 10px;
}

div {
    font-size: small;
}

.second-text {
    color: darkgreen;
    margin-top: 10px;
    margin-bottom: 20px;
}

.awesome-text {
    color: purple;
    margin-left: 10px;
}