header {
    background-color: red;
}

header h1 {
    text-align: center;
    font-size: medium;
}

.row {
    display: flex;
    font-size: x-small;
    font-weight: bold;
}
.column1 {
    flex: 30%;
    width: 30%;
    background-color: pink;
    
}

.column2 {
    float: left;
    flex: 70%;
    width: 70%;
    background-color: orange;
}

html {
    background-color: green;
}

.content {
    background-color: blue;
    font-size: x-small;
    text-align: left;
    height: 300px;
}

footer {
    background-color:yellow;
    font-size: xx-small;
}

body {
    margin-bottom: -10px;
    margin-top: -10px;
}